* {
    background-color: black;
}

body {
    background-color: black;
    margin: 0;
    font-family: Helvetica;
}

/* .spotlight-container {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: #000;
    position: fixed;
    top: 0;
}

.spotlight-container-sub {
    position: relative;
    display: flex;
    justify-content: center;
}

.spotlight {
    width: 25px;
    height: 20;
	background: linear-gradient(0deg, rgba(255,165,0,1) 0%, rgba(255,165,0,0) 100%);
}

.margin {
    width: 20px;
}

.spotlight.left {
    transform-origin: bottom left;
    animation: moveSpotlightLeft 4s linear alternate;
}

.spotlight.right {
    transform-origin: bottom right;
    animation: moveSpotlightRight 4s linear alternate;
}

@keyframes moveSpotlightLeft {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(5deg);
    }
    40% {
        transform: rotate(25deg);
    }
    50% {
        transform: rotate(30deg);
    }
    60% {
        transform: rotate(25deg);
    }
    90% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes moveSpotlightRight {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(-5deg);
    }
    40% {
        transform: rotate(-25deg);
    }
    50% {
        transform: rotate(-30deg);
    }
    60% {
        transform: rotate(-25deg);
    }
    90% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.title{
    color: white;
    font-size: 4vh;
}

.video{
    display: flex;
    justify-content: center;
    align-items: center;
}

video{
    object-fit: fill;
}

.content{
    height: 100vh;
}
 */

 .header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    z-index: 10;
    background-color: black;
 }

 .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
 }

 .menu > .link > h1 {
    font-size: 2vh;
    color: white;
    transition: 0.3s;
 }

 .link {
    margin-right: 30%;
    margin-left: 8%;
 }

 .link:hover {
    text-decoration: none;
 }

.link:hover > h1 {
    color: rgb(106, 106, 106);
 }

 .scrolled{
    background-color: rgba(0, 0, 0, 0.8);
    animation: fadeInHeader 1s linear alternate;
}

@keyframes fadeInHeader {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.8);
    }
}

 .title {
    color: white;
    font-size: 2.5vh;
 }

 .video{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  video{
    position: absolute;
    top: 0;
    object-fit: cover;
} */

.box-stack{
    position: absolute;
    top: 0;
    height: 110vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.box-description {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s linear alternate;
}

@keyframes fadeIn {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.work-item.first > .paragraph > .main{
    font-size: 3vh;
    font-weight: bold;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
}

.work-item.first > .paragraph >.sub {
    font-size: 2vh;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
}

.work-item.first > .paragraph >.sub.italic {
    font-style: italic;
}

.arrowdown{
    position: absolute;
    bottom :2vh
}

.css-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-in {
    background-color: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}


video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.works{
    display: flex;
    flex-wrap: wrap;
}

.work-item.first{
    padding: 2%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.work-item.first > h1{
    font-size: 5vh;
    text-align: center;
} 

.logline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2%;
    background-color: black;
    color: white;
    font-family: Helvetica;
}

.work-item{
    position: relative;
    overflow: hidden;
}

.work-item > div > p {
    font-size: 2vh;
    text-align: center;
}

.work-item > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-origin: center center;
}

.work-item.shade{
    position: absolute;
    top: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.work-item:hover > .work-item.shade {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.8);;
    animation: opacity 0.3s linear alternate;
}

.work-item:hover > img {
    transform: scale(105%);
    animation: scale 0.3s linear alternate;
}

@keyframes opacity {
    0% {
        background-color: rgba(0, 0, 0, 0);
        opacity: 0;
    }
    100% {
        background-color: rgba(0, 0, 0, 0.8);
        opacity: 1;
    }
}

@keyframes scale {
    0% {
        transform: scale(100%);
    }
    100% {
        transform: scale(105%);
    }
}

.paragraph{
    display: flex;
    flex-direction: column;
}

.modalC{
    position: absolute;
    top:0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 6px;
    background-color: white;
    padding: 2%;
    /* background-image: url("images/modal.jpeg");
    background-size: cover;
    background-position: center;
    box-shadow: 3px rgba(0, 0, 0, 0.5); */
}

.about {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 2%;
    background-color: black;
}

.about > .title {
    display: flex;
    width: 100%;
    justify-content: center;
    color: black;
    margin-bottom: 1%;
}

.about > p {
    font-size: 2vh;
}

.social {
    height: 3vh;
}

.ln {
    margin-left: 2%;
}

div, p, h1 {
    background-color: transparent;
}

/* -------------------- */

.about-container {
    display: flex;
    justify-content: space-around;
    align-items: start;
    background-color: black;
    padding: 5%;
    padding-top: 2%;
}

.about-img {
    width: 400vw;
    margin-right: 3%;
}

.about-img > img {
    width: 100%;
}

.about-desc {

}

.about-desc > p {
    color: white;
    font-family: Helvetica, sans-serif;
    text-align: left;
    font-size: 2.5vh;
}

.about-title {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    padding-top: 2%;
}

.input {
    margin: 2hv;
    color: white
}

input {
    outline: none;
    border: none;
    border-left: 2px solid white;
    padding-left: 5%;
    padding-right: 2%;
    border-bottom: 10px white;
    outline: 0 0 0 12px white;
    transition: 0.5s;
    color: white;
    margin-bottom: 2hv;
}

input:focus {
    border-left: 7px solid white;
    outline: none;
    color: white;
    padding-right: 2%;
    margin-bottom: 2hv;
}

textarea {
    border: 2px solid white;
    transition: 0.5s;
    outline: none;
    resize: none;
    padding: 2%;
    width: 50vw;
    height: 20vh;
    color: white;
}

textarea:focus {
    outline: none;
    border: 5px solid white;
    color: white;
    padding: 2%;
}

.contact-h1 {
    margin-top: 4vh;
    color: white;
    font-family: Helvetica, sans-serif
}

.contact-desc {
    width: 200vw;
}

.button {
    margin-top:2vh
}

button {
    border: none;
    outline: none;
    background-color: white;
    font-family: Helvetica;
    color: black;
    padding: 1%;
    transition: 0.5s;
}

button:focus {
    background-color: rgb(164, 164, 164);
}

button:hover {
    background-color: rgb(136, 136, 136);
}

.textarea {
    color: white;
}

.contact-p{
    color: white;
    font-family: Helvetica;
    font-size: 2.5vh;
}

.contact-or {
    display: flex;
    align-items: center;
    justify-content: start;
}

.or {
    width: 5vw;
    height: 0.1vh;
    background-color: white;
    margin: 2%;
}

.or.left{
    margin-left: 0;
}

.contact-p-small{
    color: white;
    font-family: Helvetica;
    font-size: 1.5vh;
    text-align: center;
}

button:disabled,
button[disabled]{
  background-color: rgb(54, 54, 54);
  color: rgb(139, 139, 139);
}
